.container {
  position: relative;
  padding: 20px;
  background-color: var(--mantine-color-body);
  border-radius: var(--mantine-radius-md);
  overflow-x: auto;
  overflow-y: auto;
}



.addButton {
  @mixin hover {
    background-color: var(--mantine-color-blue-1);
  }
}


@media (max-width: 768px) {
  .container {
    padding: 0px;
  }

}

/* Анимация для LoadingOverlay */
.overlay {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  border-radius: var(--mantine-radius-md);
}

/* Стили для модального окна */
.modalTitle {
  font-weight: 600;
  font-size: 1.1rem;
}

.modalBody {
  padding: 20px;
}


.filtersContainer {
  background: var(--mantine-color-body);
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-gray-3);
}

.filterInput {
  flex: 1;
  min-width: 200px;
}
